################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Visualtestr
/Videos
/testing
/source
/Searches
/Saved Games
/rebase-merge
/Pictures
/opcbilling
/OneDrive
/ntuser.ini
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
/ntuser.dat.LOG2
/ntuser.dat.LOG1
/NTUSER.DAT
/Music
/MicrosoftEdgeBackups
/Links
/IntelGraphicsProfiles
/Intel
/Favorites
/eclipse
/Downloads
/Documents
/Desktop
/Contacts
/Apple
/AppData
/3D Objects
/.vscode
/.viminfo
/.tooling
/.templateengine
/.ssh
/.p2
/.nuget
/.node_repl_history
/.lesshst
/.gitconfig
/.eclipse
/.dotnet
/.config
/.bash_history
/.android
